@systemet-light-yellow: rgb(245,210,8);
@systemet-light-yellow-contrast: rgb(220,170,8);
@systemet-dark-yellow: rgb(220,170,8);
@systemet-dark-yellow-contrast: rgb(90,100,8);
@systemet-dark-green: rgb(69, 141, 29);

@blue-light: rgb(100,150,220);

@blue-grey: rgb(39, 126, 167);
@blue-grey-light: rgb(65, 156, 197);
@blue-grey-lighter:rgb(85, 177, 222);
@blue-grey-dark: rgb(22,100,135);
@blue-grey-darker: rgb(15,88,122);

@red: #A72727;
@red-light: @red + #111;
@red-lighter-opaque: rgba(228, 187, 187, 0.5);

@headline-font: "Terminal Dosis", Helvetica, Arial, sans-serif;
@body-font:  "DroidSansRegular", Ubuntu, Helvetica, Arial, sans-serif;
@highlight-font: 'Segoe UI', Helvetica, Arial;