<!DOCTYPE html>
<html>

  <head>
  <title>Systembolaget + Angular</title>
   <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    
    <link data-require="bootstrap-css@3.1.0" data-semver="3.1.0" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
    <script data-require="jquery@2.0.3" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="angular.js@1.2.0-rc3" data-semver="1.2.0-rc3" src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
    
    
    <link rel="stylesheet" href="app.css" />
    <link href="http://fonts.googleapis.com/css?family=Terminal+Dosis:400,200" rel="stylesheet" type="text/css">
   
    <script src="js/common.js"></script>
    <script src="js/app.js"></script>
    <script src="js/drinkCategories.js"></script>
    <script src="js/countries.js"></script>
    <script src="js/systembolagetSearchFactory.js"></script>
    <script src="js/filters.js"></script>
  </head>

  <body ng-app="myApp">
  
    <div class="col-lg-12">
      
    <div ng-controller="SystembolagetSearchController">	
    				
			
			
        <article class="row" name="app-header" class="app-header">
            <div class="col-lg-12">
                <h1 style="display:inline" class="app-header">
                <span class="glyphicon glyphicon-glass"></span>ALCOLAR</h1>
                &nbsp;&nbsp;&nbsp;
                <h3 style="display:inline" class="app-header" style="margin-left: 60px;">
                Systembolaget + Angular</h3>
            </div>
        </article>
        
       <article class="row favourite-products-container" name="favourite-products-container"
               ng-show="favouriteProducts.length !== undefined && favouriteProducts.length > 0">
				<div class="col-lg-12">
                <h2 class="favourite-product-header">
               <span class="glyphicon glyphicon-star"></span>
                Favorit-produkter</h2>
		        <div ng-repeat="product in favouriteProducts">
		          <div class="favourite-product" ng-show="editFavouriteView">
		             <img class="search-result-img" ng-src="{{product.img}}" />
			              <div class="search-result-title">{{product.name | truncate:35:"..." }}
			              <span ng-show="product.name_2 != ''"> - {{product.name_2}}</span>
			              </div>
			              
                         <div class="product-stats">
                            <span>{{product.volume}} cl</span>
                             <span>{{product.alcohol}}</span>
                            <span>{{product.price}} Kr</span>
                            <span>{{product.price_per_liter}} Kr/L</span>    
                            <span>{{product.apk}} apk</span> 
                             <span ng-show='product.year > 0'> {{product.year}}</span>
                             <span>{{product.origin.name}}</span>
                        </div>
		            <div class="favourite-product-delete" ng-click="removeProduct($index)"><span class="glyphicon glyphicon-trash"></span></div>
		          </div>
		          <div class="favourite-product" ng-click="playProduct(product)" ng-hide="editFavouriteView">
		             <img class="search-result-img" ng-src="{{product.img}}" />
			                <div class="search-result-title">{{product.name | truncate:35:"..." }}
			             <span ng-show="product.name_2 != ''"> - {{product.name_2}}</span>
			              </div>
                           <div class="favourite-product-delete" ng-click="removeProduct($index)"><span class="glyphicon glyphicon-remove"></span></div>
			             <div class="product-stats">
                           
                           <span>{{product.price}} kr</span>
                             <span>{{product.volume}} cl</span>
                           <span>{{product.alcohol}} %</span>
                            <span>{{product.price_per_liter}} kr/L</span>    
                            <span>{{product.apk}} apk</span> 
                             <p ng-show='product.year > 0'> {{product.year}}</span>
                             <span>{{product.origin.name}}</span>
                        </div>
		         
		          </div>
		        </div>
				</div>
			</article><!--end row-->
			
		
		<article class="row" name="search-bar-container">
	
				<div class="col-lg-12">
<div class="search-container" ng-show="searchView">
			
               
                
                <div id="searchFilterContainer" ng-show="true"
                   class="search-controls-container">
                  
                    
                    
                  <div class="row search-filter-bar">
                         <span class="search-filter-bar-title">Filters </span>
               
                      
                          <section>
                            <button class="btn" ng-click="clearFilters()">
                             <span class="glyphicon glyphicon-remove"></span>
                             Clear filters 
                             </button>
                        </section>
                        
                       
                        <section>
                            <label>Pris</label>
                            <span>min</span><input type="number" step="5" ng-model="filterSettings.minPrice.value">
                            <span>max</span><input type="number" step="5" ng-model="filterSettings.maxPrice.value">
                        </section>

                        <!--<section>
                            <label>Alkoholhalt (0-1)</label>
                            <span>min</span><input type="number" step="0.5" ng-model="filterSettings.alcoholMin.value">
                            <span>max</span><input type="number" step="0.5" ng-model="filterSettings.alcoholMax.value">
                        </section>-->
                        
                             <section>
                            <label>Ordna efter</label>
                            <!--DOESNT WORK i.value as i.display for i in filterSettings.orderby_options">-->
                             <select data-ng-options="o.display for o in filterSettings.orderby_options" data-ng-model="filterSettings.orderby_selected"></select>
                        </section>
                     
                     
                          <section>
                            <label>Dryckestyp</label>
                              <select ng-model="filterSettings.drinkCategory_selected" ng-options="i.name for i in filterSettings.drinkCategory_options"></select>
                        </section>

                     
                      <section>
                           <input class="searchfield" type="text" 
                               name="search" ng-model="filterSettings.name.value" 
                               placeholder="produktnamn"
                                ng-change="performSearch('')" class="search-input" />
                      </section>  
		       
                   
                        
                      <button class="btn search-btn" ng-click="performSearch()">
                      <span class="glyphicon glyphicon-search"></span>
                      Search
                      </button>
                       
                     
                        
                       
                    </div>
                  </div>
</div>
                   
                   <!-- <div class="btn-group">

                      <button type="button" class="btn btn-default" ng-click="filterSavedAlbums('artist+down', 'searchResult')" ng-class="{'active': songs.filter == 'artist+down'}"> 
                      <i class="icon-arrow-down"></i> beer</button>

                        <button type="button" class="btn btn-default" ng-click="filterSavedAlbums('artist+up', 'searchResult')" ng-class="{'active': songs.filter == 'artist+up'}"> 
                            <i class="icon-arrow-up"></i> vin</button>


                      <button type="button" class="btn btn-default" ng-click="filterSavedAlbums('popularity+down', 'searchResult')" ng-class="{'active': songs.filter == 'popularity+down'}"> 
                            <i class="icon-arrow-down"></i> sprit </button>
                      <button type="button" class="btn btn-default" ng-click="filterSavedAlbums('popularity+up', 'searchResult')" ng-class="{'active': songs.filter == 'popularity+up'}"> 
                            <i class="icon-arrow-up"></i> alkholhalt </button>

                       <button type="button" class="btn btn-default" ng-click="filterSavedAlbums('albumName+up', 'searchResult')" ng-class="{'active': songs.filter == 'albumName+up'}"> 
                            <i class="icon-text-height"></i> volym </button>
                    </div>-->
                    
                </div><!--end search-controls-->
             </article><!--end row-->
               

               
                <article class="row" name="search-result-container">
                <div class="col-lg-12">
			        <div class="search-results-container">
			          <div ng-repeat="product in products" class="product-search-result-container">
			            <div class="search-result-product">
			              <img class="search-result-img" ng-src="{{product.img}}" />
			                <div class="search-result-title">{{product.name | truncate:35:"..." }} 
			              <span ng-show="product.name_2 != ''"> - {{product.name_2}}</span>
			              </div>
			              <div class="search-result-add" ng-click="addProduct(product)" title="Lägg till i favorit"><span class="glyphicon glyphicon-plus"></span></div>

                           <div class="product-stats">
                               <span>{{product.price}} kr</span>
                             <span>{{product.volume}} cl</span>
                           <span>{{product.alcohol}} %</span>
                            <span>{{product.price_per_liter}} kr/L</span>    
                            <span>{{product.apk}} apk</span> 
                                 <p ng-show='product.year > 0'> {{product.year}}</span>

                                 <span>{{product.origin.name}}</span>

                            </div>
                             
			            </div>
			          </div>
			        </div>
		
			        </div>
		      </article>
				
				
				
	</div><!--end controller-->
			
      
  </body>

</html>
